<!DOCTYPE html>
<html lang = "es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Hamburguesa</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js" defer></script>
</head>
<body>
    <header>

        <h1 id="tituloHmb">Menu Hamburguesa</h1>
        <button class="hamburguer">
            <span class="l1"></span>
            <span class="l2"></span>
            <span class="l3"></span>
        </button>

        <nav class="offScreenMenu">
            <ul>
                <li>Inicio</li>
                <li>Acerca de</li>
                <li>Contacto</li>
            </ul>
        </nav>

    </header>
</body>
</html>