{% extends "base.html" %}

{% block title %}
{{title}}
{% endblock %}

{% block header %}
<!-- {{action}} = actualizar o eliminar -->
Ingrese el email del usuario a {{action}}.
{% endblock %}

{% block body %}
<form action="/buscando/usuario" method="POST">

    <!-- Campo oculto con accion (actualizar o eliminar)--> 
    <div>
        <input type="hidden" name="action" value="{{action}}">
    </div>

    <!-- Campo visible para ingresar el email -->
    <div>
        <label for="email_usuario">Email:</label>
        <input type="email" id="email_usuario" name="email_usuario" required>
    </div>
    <div>
        <input type="submit" value="Buscar">
    </div>
</form>
{% endblock %}